<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APIvkTest2(MY DZ).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67C4424E1C6DB0E300458624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C442671C6DB0E300458624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C442721C6DB0E300458624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
